.button{
    color: white;
    border-radius: 10px;
    height: 30px;
    background-color: darkred;
}

.incremental{
    background-color: darkgreen;
}

.decremental{
    background-color: darkblue;
}